# 1.1. Basic Python

This notebook introduces the basic syntax of the Python programming language and show you how to use a Jupyter Notebook. Syntax includes: 
- basic arithmetic operations
- variable assignments 
- strings
- indexing positions in a string
- ...

For a much deeper introduction to python, refer to the DataCamp course:
-  Introduction to Python for Data Science: https://www.datacamp.com/courses/intro-to-python-for-data-science

### Basic Arithmetic Operations

Let's first have a look at some simple arithmetic in Python.

In [ ]:
3+4

In [ ]:
3*4-5

In [ ]:
3/2

In [ ]:
3./2

In [ ]:
3/2.

We can see what type something is using the **type** method:

In [ ]:
type(3)

In [ ]:
type(3.)

Integer division ...

In [ ]:
13//4

Modulus operator...

In [ ]:
13%4

Raise number to a power...

In [ ]:
3**2

Brakets

In [ ]:
(3+4)*2

### Variable Assignments

In [ ]:
x = 3

In [ ]:
print(x)

In [ ]:
print(x)
z = 2

In [ ]:
x

**type** method works also for variables

In [ ]:
print(type(x))

In [ ]:
x

*Dynamic typing* means that you can reassign variables to different data types.

In [ ]:
x = 'x'

In [ ]:
x

In [ ]:
print(type(x))

Be careful to the order in which you run cells

In [ ]:
x0 = 1.0

In [ ]:
x0 += 1
x0

## Strings

Variables can contain sequences of characters, known in programming laguages as 'strings'.

In [ ]:
name = 'pippo'

In [ ]:
name

In [ ]:
place = 'l'università'

In [ ]:
place = "l'università"

In [ ]:
place

What if you want both " and ' ?

Type conversion: change type of variable, if it makes sense

In [ ]:
x0 = 10.5

In [ ]:
type(x0)

In [ ]:
x0 = str(x0)

In [ ]:
x0

In [ ]:
int(x0)

In [ ]:
name = 'marco'

In [ ]:
float(name)

Length

In [ ]:
len(name)

In [ ]:
len(x0)

## Indexing Individual Characters within a String

A string is in fact, just a sequence of characters. We can access the character in a specific position in the string as follows:

In [ ]:
name = 'politecnico'
name

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
len(name)

In [ ]:
name[20]

In [ ]:
name[-4]

In [ ]:
name

In [ ]:
name[1:4]

In [ ]:
name[0:-3]

In [ ]:
name[-2:]

In [ ]:
name[::1]

In [ ]:
name[::2]

In [ ]:
name[::4]

In [ ]:
name[::-1]

In [ ]:
name[1:-1:3]

In [ ]:
name

In [ ]:
name[0] = 'D'

In [ ]:
name

In [ ]:
name[1:]

In [ ]:
name = 'D'+name[1:]
name

String concatenation

In [ ]:
name2 = "Milano"

In [ ]:
name + name2

In [ ]:
name + ' ' + name2

String repetition

In [ ]:
'1'*2

In [ ]:
name*3

Upper and lower characters

In [ ]:
name.upper()

In [ ]:
name.lower()

Split operator

In [ ]:
infinito = "sempre caro, mi, fu! quell'ermo colle, etc"

In [ ]:
infinito.split(',')

In [ ]:
"sempre caro".upper()

In [ ]:
"sempre caro".split(' ')

### Booleans

In [ ]:
my_bool = True
my_bool

In [ ]:
type(my_bool)

In [ ]:
print('True or True returns:\t', True or True)
print('True or False returns:\t', True or False)
print('False or False returns:\t', False or False)

print('True and True returns:\t', True and True)
print('True and False returns:\t', True and False)
print('False and False returns:', False and False)

### Comparison Operators
You will often deal with booleans as they are the output type of comparison operators.

They are basically the same as in math:

| Operator  | Meaning  |
|---|---|
| < |  strictly less than |
| <= | less than or equal  |
| >  |  strictly greater than |
|  >= | greater than or equal  |
| ==  |  equal |
| !=  | not equal  |
| is  | object identity  |
| is not  | negated object identity  |

In [ ]:
a = 4
b = 5
print('a == b returns:\t', a == b)
print('a != b returns:\t', a != b)
print('a > b returns:\t', a > b)
print('a < b returns:\t', a < b)
print('a >= b returns:\t', a >= b)
print('a <= b returns:\t', a <= b)

In [ ]:
a = b

In [ ]:
a

In [ ]:
b

You can nest comparison operators

In [ ]:
a = 6
b = 5
c = 5
print('a > b > c returns:\t', a > b > c)
print('a > b < c returns:\t', a > b < c)
print('a > b == c returns:\t', a > b == c)

In [ ]:
5>'Marco'

# Print format

In [ ]:
x = 2.327486289

In [ ]:
x

Doesn't work if not the last line, so use print()

In [ ]:
x
y=20

In [ ]:
print(x)

In [ ]:
print("x = %.2f"%x)

In [ ]:
name = 'Marco'
family = 'Di Giovanni'
print("I am %s %s and my income is %.2f"%(name,family,x))

In [ ]:
"I am {} {} ".format(name,family)

In [ ]:
"I am {1} {0} ".format(name,family)

In [ ]:
"I am {0:20} {1:20} ".format(name,family)